
.heatmap-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200vw;
    overflow: hidden;
  }
  
  /* Base styling for the title */
.heatmap-page h1 {
  text-align: left;       /* Centers the title */
  font-size: 3rem;        /* Sets a smaller font size */
  margin: 20px 0 10px;      /* Adjusts vertical spacing */
  padding-top: 10px;        /* Adds some padding at the top */
}

/* Light mode: Title should be black */
.heatmap-page.light h1 {
  color: black;
}

/* Dark mode: Title should be white */
.heatmap-page.dark h1 {
  color: white;
}

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
  }
  
  .home-button, .theme-toggle {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: inherit;
  }
  
  .heatmap-container {
    flex: 1;
    position: relative;
  }
  
  .light {
    --header-bg-color: #ffffff;
    --header-text-color: #000000;
    background-color: #f0f0f0;
  }
  
  .dark {
    --header-bg-color: #333333;
    --header-text-color: #ffffff;
    background-color: #1e1e1e;
  }
  